@font-face {
    font-family: DM-Sans;
    src: url(../FONTS/DMSans-Regular.ttf);
}
/*Root*/
:root{
    --global-color: #8102FF;
}
*{
    background: #0e1320;
    color: white;
    font-family: DM-Sans;
}
/*BODY*/
html, body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6{
    width: fit-content;
}
p{
    margin-top: 15px;
    color: rgb(139, 136, 136);
}
/*CENTER*/
.center {
    max-width: 1248px;
    margin: 0 auto;
    padding: 0 64px;
  }
  /*HEADER SECTION*/ 
.header_section{
    margin-top: 15px;
    background: #0E1320;
}
/*HEADER NAV*/ 
.header_nav, .nav{
    display: flex;
}
.nav img{
    padding: 15px;
    width: 200px;
    height: auto;
}
.nav a{
    text-decoration: none;
    justify-content: space-around;
    padding: 15px;
    font-size: 16px;
    font-weight: bold;
    &:hover{
        color: var(--global-color);
    }
}
.nav a:nth-child(6){
    padding: 10px 35px;
    margin: auto;
    margin-left: 15px;
    background: var(--global-color);
    border-radius: 10px;
    &:hover{
        border: 1px solid var(--global-color);
        background-color: transparent;
        color: white;
    }
}
.nav:nth-child(2){
    position: absolute;
    right: 65px;
}
/*HEADER MAIN SECTION*/ 
.header_main, .sec{
    padding-top: 50px;
    display: flex;
}
.header_main{
    padding-top: 100px;
}
.h_main, .subsec{
    width: 50%;
}
.small_heading{
    display: flex;
    justify-content: start;
    align-items: center;
}
.icon_bg{
    color: var( --global-color );
    background-color: #8102ff4a;
    border-radius: 10px 10px 10px 10px;
    margin: 2px -5px 0px 0px;
    padding: 8px 8px 8px 8px;
    height: 40px;
    width: 40px;
}
.fa, .fas {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    background: transparent;
    font-size: 40px;
    color: var(--global-color);
}
.small_heading h3{
    color: var(--global-color);
    margin-left: 15px;
    font-size: 23px;
}
.h_left h2{
    line-height: 70px;
    font-size: 65px;
    margin:auto 0;
    &::first-letter{
        font-size: 80px;
    }
    &:nth-child(3){
        font-size: 85px;
    }
}
.url_collect form{
    position: relative;
    margin: 0;  
}
.url_collect input{
    border: 1px solid var(--global-color);
    height: 50px;
    width: 350px;
    border-radius: 8px;
    box-shadow: 0px 5px 25px -10px rgb(129 2 255 / 51%);
    &::placeholder{
        font-size: 18px;
        padding-left: 20px;
    }
}
// INPUT ANIMATION START
.form-item{
    position: relative;
    margin-bottom: 15px
  }
  .form-item input{
    display: block;
    width: 400px;
    height: 40px;
    background: transparent;
    border: solid 1px #ccc;
    transition: all .3s ease;
    padding: 0 15px
  }
  .form-item input:focus{
    border-color: var(--global-color);
  }
  .form-item label{
    position: absolute;
    cursor: text;
    z-index: 2;
    top: 13px;
    left: 10px;
    font-size: 12px;
    font-weight: bold;
    background: #fff;
    padding: 0 10px;
    color: #999;
    transition: all .3s ease;
  }
  .form-item input:focus + label,
  .form-item input:valid + label{
    font-size: 11px;
    top: -5px;
  }
  .form-item input:focus + label{
    color: var(--global-color),
  }
// INPUT ANIMATION END 
.url_collect label{
    position: absolute;
    top: 0;
    font-size: 18px;
    transform: translate(21px, 13px);
}
#urlpaset:focus + label{
    transform:translateY(-5rem);
    color: var(--global-color);
}
.url_collect button{
    padding: 15px 40px;
    background-color: var(--global-color);
    font-size: 18px;
    border: none;
    margin-left: 20px;
    border-radius: 10px;
    box-shadow: 0px 5px 25px -10px rgb(129 2 255 / 51%);
    &:hover{
        cursor: pointer;
        transition-duration: .3s;
        transform: translateY(-5px);
        transition-timing-function: ease-out;
    }
}

.h_right img{
    width: 67%;
    height: auto;
    object-fit: cover;
    margin-left: 90px;
}
#progress{
    background-color: #181E2C;
    width: 180px;
    transform: translate(19rem, -32rem);
    border-radius: 20px;
    
}
/*LOADER*/
#loader {
    display: flex;
    width: 500px;
    height: 25px;
    background: transparent;
    border-radius: 8px;
    border: 1px solid var(--global-color);
    align-items: center;
    margin-top: 30px;
  }
  
  @keyframes load {
    from {transform: translate(0, 0)}
    to {transform: translate(390px, 0)}
  }
  
  #subload {
    width: 100px;
    height: 10px;
    background: linear-gradient(to bottom right, white, rgb(129 2 255 / 51%));
    border-radius: 6px;
    box-shadow: 0 0 10px rgb(129 2 255 / 51%);
    
    animation: load .25s infinite alternate ease-in-out;
  }
  /*LOADER END*/

  /*ABOUT PROJECT SECTION*/

  #image1, #image2, #image3{
    object-fit: cover;
    border-radius: 20px;
  }
  #image1{
    width: 50%;
    height: 300px;
    transform: translateY(9rem);
  }
  #image2{
    width: 40%;
    height: 220px;
    transform: translate(1rem, -3rem);
  }
  #image3{
    width: 30%;
    height: 170px;
    transform: translateX(22.4rem);
  }
  .ab_left{
    padding: 5rem 0;
  }
  .ab_left div{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: var(--global-color);
    position: absolute;
  }
  #ro2{
    left: 46%;
    transform: translate(-10px, -40px);
  }
.fa-check, .fa{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    background: transparent;
    font-size: 30px;
    color: var(--global-color);
}
.fa-solid , .fa_screwdriver-wrench{
    font-size: 32px;
    color: #E3E2E5;
}
.fa-fingerprint{
    font-size: 20px;
    padding:8px 0;
}
.about_marg{
    margin-left: 20px;
}
.icon_bg img{
    background: transparent;
}
.ab_project, .bg{
    background: transparent;
}
#discription{
    margin-left: 30px;
    margin-top: 10px;
}
#discription span{
    margin-bottom: 25px;
}
#discription p{
    display: inline-block;
    padding-left: 15px;
    margin: 5px auto;
}
/*TOOLS SECTION*/
.tools_section{
    padding: 60px 0;
}
.tools_wrapp{
    display:flex;
    padding-top: 50px;
    justify-content: space-around;
    vertical-align: middle;
    align-items: center;
}
.fa, .fa-brands{
    font-size: 50px;
    color:rgb(139, 136, 136);
}
.tool_center{
    justify-content: center;
}
.fa-python:hover{
    background: linear-gradient(to bottom right, #417AA7 50%, #F7CC40 50%);
    background-clip: text;
    color: transparent;
    font-size: 60px;
    // text-shadow: 0 0 20px #F7CC40;
}
.fa-css3-alt:hover{
    color: #254BDD;
    text-shadow: 0 0 20px #254BDD;
    font-size: 60px;
}
.fa-js:hover{
    color: #EFD81D;
    text-shadow: 0 0 20px #EFD81D;
    font-size: 60px;
}
.fa-node:hover{
    color: #6FA660;
    text-shadow: 0 0 20px #6FA660;
    font-size: 60px;
}
.fa-html5:hover{
    color: #DD4B25;
    text-shadow: 0 0 20px #DD4B25;
    font-size: 60px;
}
.fa-sass:hover{
    color: #C96195;
    text-shadow: 0 0 20px #DD4B25;
    font-size: 60px;
}
/*ABOUT TEAM SECTION*/
.about_team{
    padding: 0;
}
.team_wrap div, #name_div{
    padding:0;
    width:100px;
    height:50px;
    background: linear-gradient(to left,#5E5DFF, #FF048B);
}
.team_wrap{
    width: 50%;
    // display: flex;
    // justify-content: space-around;
    // align-items: center;
}
.about_r img:nth-child(1){
    width:200px;
}
.about_r img:nth-child(2){
    width:150px;
    animation:alternate-reverse rotate 5s ease-in-out infinite;
}
.about_r img:nth-child(3){
    width:80px;
}
.ab_team:nth-child(2){
    display: flex;
    justify-content: center;
    align-items: center;
}
.ani{
    background-color: transparent;
    animation:alternate rotate 5s ease-in-out infinite;
}
@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
/*CONTACT US SECTION*/ 
.contact_us{
    background: #121826;
    padding-bottom: 100px;
}
.contact_us div,h1,p,h3,form{
    background: transparent;
}
.cont_sec{
    padding-top: 0;
}
label{
    display: block;
    background: transparent;
}
.name_email_wrap{
    display: flex;
}
.email_div{
    margin-left: 15px;
}
.text{
    padding: 15px 25px;
    border: 3px solid #0e1320;
    border-radius: 20px;
    background-color: #181E2C;
    margin: 5px 0 15px 0;
}
.text:hover, .text:focus{
    box-shadow: 0 0 6px rgba(34, 34, 34, 0.822);
}
label span{
    color: var(--global-color);
    background: none;
}
form{
    margin-top: 6rem;
    margin-left: 4rem;
}
.subscribe_button{
    padding: 15px 50px;
    background: var(--global-color);
    border: none;
    border-radius: 10px;
    font-size: 18px;
    &:hover{
        border: 2px solid var(--global-color);
        background: transparent;
    }
}
@media only screen and(max-width: 770px)
{
    
    .sec{
        display: block;
        width: auto;
    }
    .subsec{
        width: auto;
    }
}